* {
  box-sizing: border-box;
}

.container-pic {
  margin: 20px auto;
  position: relative;
  text-align: center;

}

.container-pic img {
  height: 422px;
  width: 750px;
}

.container-pic div {
  position: absolute;
  width: 100%;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-pic div p {
  font-family: 'Arsenal', sans-serif;
  font-weight: 400;
  color: white;
  font-stretch: expanded;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
  opacity: .8;
}

.container-pic button {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px white;
  background-color: transparent;
  width: 210px;
  height: 45px;
  border-radius: 6px;
  transition-duration: 0.2s;
  text-decoration: none;
}

.container-pic button:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.container-pic button a {
  text-decoration: none;
  font-size: 28px;
  font-family: 'Arsenal', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: white;
}

.container-pic button a:hover {
  text-decoration: none;
}

.container-pic button a:visited {
  text-decoration: none;
}

.pic-cap-break {
  display: none;
}


@media (max-width: 900px) {

  div.container-pic {
    padding-top: 50px;

  }

  .pic-cap {
    margin-top: 50px;
  }

  .container-pic img {
    height: 338px;
    width: 600px;
  }

  .container-pic div p {
    font-size: 30px;
  }

}

@media (max-width: 750px) {


  div.container-pic {
    padding-top: 60px;

  }

  .pic-cap {
    margin-top: 60px;
  }

  .container-pic img {
    object-fit: cover;
    height: 500px;
    width: 500px;
  }

  .container-pic div p {
    font-size: 36px;
  }

  .container-pic button {
    width: 300px;
    height: 64px;
  }

  .container-pic button a {
    font-size: 36px;
  }




}

@media (max-width: 600px) {

  div.container-pic {
    padding-top: 75px;

  }

  .pic-cap {
    margin-top: 110px;
  }

  .pic-cap-break {
    display: inline;
  }

  .pic-cap-erase {
    display: none;
  }

  .container-pic img {
    object-fit: cover;
    height: 500px;
    width: 400px;
  }

  .container-pic div p {
    font-size: 36px;
  }

  .container-pic button {
    width: 300px;
    height: 70px;
  }

  .container-pic button a {
    font-size: 36px;
  }

}

@media (max-width: 450px) {

  div.container-pic {
    padding-top: 50px;
  }

  .pic-cap {
    margin-top: 80px;
  }

  .pic-cap-break {
    display: inline;
  }

  .pic-cap-erase {
    display: none;
  }

  .container-pic img {
    object-fit: cover;
    height: 500px;
    width: 300px;
  }

  .container-pic div p {
    font-size: 34px;
  }

  .container-pic button {
    width: 200px;
    height: 70px;
  }

  .container-pic button a {
    font-size: 32px;
  }

}

@media (max-width: 385px) {


  .pic-cap {
    margin-top: 75px;
  }

  .container-pic img {
    object-fit: cover;
    height: 400px;
    width: 300px;
  }

  .container-pic div p {
    font-size: 30px;
  }

  .container-pic button a {
    font-size: 26px;
  }

  .container-pic button {
    width: 180px;
    height: 60px;
  }

}

@media (max-width: 350px) {

  .container-pic img {
    object-fit: cover;
    height: 400px;
    width: 250px;
  }

}
