





.contain {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pic {
  width: 333px;

}

.pic img {
  width: 100%;
  height: auto;
  transition: all .2s ease-in-out;
}

.pic img:hover {
  transform: scale(1.1);
}



@media (max-width: 1000px) {


}


@media (max-width: 900px) {

  .contain {
    margin-top: 75px;
  }


}

@media (max-width: 750px) {


}

@media (max-width: 600px) {


}

@media (max-width: 600px) {


}
